<div>
  <div class="container">
    <h1>Snippets</h1>
  </div>
</div>
<div class="container">
  <p>snippets-page works!</p>
  @if (snippets.length > 0 && !getAllSnippetsError) { @for (snippet of snippets;
  track snippet.id) {
  <div>
    <p>{{ snippet.title }}</p>
    <p>{{ snippet.content }}</p>
    <p>{{ snippet.creator }}</p>
    <p>{{ snippet.dateCreated | date : "dd-MM-yyyy" }}</p>
  </div>
  } } @else if (snippets.length === 0 && !getAllSnippetsError) {
  <div>
    <p>No snippets created.</p>
  </div>
  } @else if (getAllSnippetsError) {
  <div>
    <p>Snippet data currently unavailable.</p>
  </div>
  }
</div>
