<div>
  <div class="container">
    <h1>Create Snippet</h1>
  </div>
</div>
<div class="container">
  <form
    [formGroup]="createSnippetForm"
    class="d-flex flex-column col-6"
    (submit)="submitSnippet()"
  >
    <label for="title">Title</label>
    <input
      id="title"
      type="text"
      placeholder="Enter snippet title"
      formControlName="snippetTitle"
      maxlength="80"
      [(ngModel)]="createSnippetForm.value.snippetTitle"
    />
    <small
      >Character limit:
      {{ 80 - createSnippetForm.value.snippetTitle?.length! }} / 80</small
    >
    @if (formSubmitted &&
    createSnippetForm.get('snippetTitle')?.hasError('required')) {
    <small>Please enter a title</small>
    } @else if (formSubmitted && createSnippetForm.value.snippetTitle?.trim()
    === "") {
    <small>Please enter a valid title</small>
    }

    <label for="notes">Notes</label>
    <textarea
      id="notes"
      type="textarea"
      placeholder="Enter snippet notes"
      formControlName="snippetNotes"
    ></textarea>

    <label for="snippetBody">Snippet</label>
    <small
      >For syntax highlighting, click
      <img src="assets/images/code-sample.svg" alt="icon" width="20" />
      below to choose a 'Language', then enter your code in the 'Code
      view'.</small
    >
    <editor
      apiKey="{{ tinyMceApiKey }}"
      id="snippetBody"
      formControlName="snippetBody"
      [init]="{
        height: 500,
        menubar: false,
        codesample_global_prismjs: true,
        codesample_languages: [
          { text: 'HTML/XML', value: 'markup' },
          { text: 'JavaScript', value: 'javascript' },
          { text: 'CSS', value: 'css' },
          { text: 'PHP', value: 'php' },
          { text: 'Ruby', value: 'ruby' },
          { text: 'Python', value: 'python' },
          { text: 'Java', value: 'java' },
          { text: 'C', value: 'c' },
          { text: 'C#', value: 'csharp' },
          { text: 'C++', value: 'cpp' }
        ],
        plugins: [
          'codesample', 'wordcount'
        ],
        toolbar: 'undo redo | code codesample',
      }"
    ></editor>

    @if (formSubmitted &&
    createSnippetForm.get('snippetBody')?.hasError('required')) {
    <small>Please enter a snippet</small>
    }

    <!-- FILTERS LIST -->
    <div class="d-flex flex-column">
      <p>Filters</p>
      @if (filtersList.length > 0 && !getFiltersError) { @for (filter of
      filtersList; track filter.id ) {
      <label for="{{ filter.filterName }}"
        >{{ filter.filterName }} -
        <small>({{ filter.categoryName }})</small></label
      >
      <input
        type="checkbox"
        id="{{ filter.filterName }}"
        value="{{ filter.id }}"
        (change)="onCheckboxChange($event)"
      />
      } } @else if (getFiltersError) {
      <div>
        <small>Filter data currently unavailable.</small>
      </div>
      }
    </div>

    <button type="button" routerLink="/snippets">Cancel</button>
    <button type="submit">Submit</button>
  </form>

  <button type="button" (click)="openCreateModal()">Add filter</button>

  <!-- NEW FILTERS LIST -->
  @if (newFiltersList.length > 0) {
  <ul>
    @for (newFilter of newFiltersList; track $index) {
    <li [attr.filter-id]="newFilter.id">
      <span class="me-3"
        >{{ newFilter.filterName }} -
        <small>({{ newFilter.categoryName }})</small></span
      >
      <fa-icon
        class="fa-sm me-3"
        [icon]="faPen"
        (click)="openEditModal(newFilter.id!)"
      ></fa-icon
      ><fa-icon
        class="fa-sm"
        [icon]="faTrash"
        (click)="deleteFilter(newFilter.id!)"
      ></fa-icon>
    </li>
    }
  </ul>
  }
</div>

<!-- CREATE MODAL -->
<app-modal *ngIf="isCreateModalOpen" (closeModal)="closeModal()">
  <form [formGroup]="createFilterForm" (ngSubmit)="createFilterSubmit()">
    <h5>Add filter</h5>
    <input
      type="text"
      placeholder="Enter filter name"
      formControlName="filterName"
      required
    />
    @if (filterFormSubmitted &&
    createFilterForm.get("filterName")?.hasError('required')){
    <small>Please enter a filter name</small>
    } @else if (filterFormSubmitted && duplicateFilterError) {
    <small>A filter with this name already exists</small>
    }

    <label for="category">Category</label>
    <select formControlName="categoryName" id="category" required>
      <option value="default" disabled>Please select</option>
      @if (categoriesList.length > 0) { @for (category of categoriesList; track
      category.id) {
      <option [attr.cat-id]="category.id" value="{{ category.categoryName }}">
        {{ category.categoryName }}
      </option>
      } }
    </select>
    @if (filterFormSubmitted && createFilterForm.controls.categoryName.value ===
    "default"){
    <small>Please select a category</small>
    }
    <button type="button" (click)="closeModal()">Cancel</button>
    <button type="submit">Submit</button>
  </form>
</app-modal>

<!-- EDIT MODAl -->
<app-modal *ngIf="isEditModalOpen" (closeModal)="closeModal()">
  <form [formGroup]="editFilterForm" (ngSubmit)="editFilterSubmit()">
    <h5>Edit filter</h5>
    <input
      type="text"
      placeholder="Enter filter name"
      formControlName="filterName"
      required
    />
    @if (filterFormSubmitted &&
    editFilterForm.get("filterName")?.hasError('required')){
    <small>Please enter a filter name</small>
    } @else if (filterFormSubmitted && duplicateFilterError) {
    <small>A filter with this name already exists</small>
    }
    <label for="category">Category</label>
    <select formControlName="categoryName" id="category" required>
      <option value="" disabled>Please select</option>
      @if (categoriesList.length > 0) { @for (category of categoriesList; track
      category.id) {
      <option [attr.cat-id]="category.id" value="{{ category.categoryName }}">
        {{ category.categoryName }}
      </option>
      } }
    </select>
    @if (filterFormSubmitted &&
    editFilterForm.get("category")?.hasError('required')){
    <small>Please select a category</small>
    }
    <button type="button" (click)="closeModal()">Cancel</button>
    <button type="submit">Submit</button>
  </form>
</app-modal>
